<% if logged_in? %>
	<%= link_to "Add a new word", new_word_path, class: "btn" %>
	<% if current_user.words_to_study.any? %>
		<%= link_to "Study words", study_path, class: "btn" %>
	<% end %>
<% else %>
	<h1>Wordifier</h1>
	<p class="center">Welcome to Words</p>
	<%= link_to "Sign up", signup_path, id: "signup", class: "btn" %>
<% end %>