<% provide(:title, "All users") %>

<div class="row">
  <div class="col-md-6 offset-md-3">

    <h1 class="text-center">All users</h1>

    <%= will_paginate %>

    <ul class="list-group users">
    	<%= render @users %>
    </ul>

    <%= will_paginate %>

  </div>
</div>
