<div id="add_form_<%= word.id %>" class="add-form">
	<% if current_user.added?(word) %>
	  <%= render 'words/remove', word: word %>
	<% else %>
	  <%= render 'words/add', word: word %>
	<% end %>
</div>