<li>
	<%= link_to word.word, word %>
	<% if logged_in? %>
	<%= render "words/add_form", word: word %>
		<% if current_user.admin? %>
			| <%= link_to "edit", edit_word_path(word) %>
			| <%= link_to "delete", word, method: :delete,
																		data: { confirm: "You sure?" } %>
		<% end %>
	<% end %>
</li>