<% provide(:title, "Study") %>

<main id="study-field">
  <%= render "word_study_field", word: @word %>
</main>

<script>
	(function () {
		"use strict";
		words_global_object.prepare_study_field();
	}());
</script>