#profile {
	h1 {
		font-size: 1.5em;
	}
	a {
		text-decoration: none;
		color: #000;
		&:visited {
			color: #000;
		}
	}
}

#profile-list {
	li {
		border: 1px solid #ccc;
		margin: 2px;
		min-width: 6em;
		width: 100px;
		.words-count {
			float: right;
		}
	}
}
