#words_list {
	a {
		text-decoration: none;
		color: #000;
		&:visited {
			color: #000;
		}
	}
	.pagination {
		display: flex;
		text-align: center;
		.current, .disabled, a {
			border: 1px solid #ccc;
			padding: 5px 15px;
			margin: 2px;
			display: inline-block;
			flex-grow: 1;
		}
		.previous_page, .next_page {
			width: 15%;
			flex-grow: 2;
		}
		.current, .disabled {
			color: #ccc;
		}
		em.current {
			font-weight: bold;
			font-style: normal;
		}
	}
}

.words {
	li {
		.word {
			display: inline-block;
			width: 25%;
			min-width: 8em;
		}
		div {
			display: inline-block;
			width: 15%;
			min-width: 6em;
			form {
				.hide {
					display: none;
				}
				input[type="submit"] {
					width: 100%;
				}
			}
		}
	}
}

#word_lists {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	display: flex;
	text-align: center;
	a {
		display: inline-block;
		flex-grow: 1;
		border: 1px solid #ccc;
		padding: 5px;
		margin: 2px;
		text-decoration: none;
		color: #000;
		&:visited {
			color: #000;
		}
	}
}